.color1 {color: #001216;}
.color2 {color: #284e64;}
.color3 {color: #a17055;}
.color4 {color: #ada371;}
.color5 {color: #e7e7cf;}

.color1 {color: #bcd8bf;}
.color2 {color: #d8d0b6;}
.color3 {color: #213757;}
.color4 {color: #3f6b8c;}
.color5 {color: #d6e0e7;}

.color1 {color: #b5ae7d;}
.color2 {color: #ccc69c;}
.color3 {color: #375d7b;}
.color4 {color: #46818b;}
.color5 {color: #55999f;}

.color1 {color: #54121e;}
.color2 {color: #861a1a;}
.color3 {color: #2b86c8;}
.color4 {color: #b4d9e5;}
.color5 {color: #f3f3f3;}