.reservas-login{
    background-color: #ffffff;
    
}
.servicios{
    display: inline-flex;
    margin-top: 6rem;
    align-items: center;
    /* margin-left: 24rem; */
    width: 100%;
    background-color:#10518C;
}
.servicios p{
    color: #efefef;
    margin: 2rem;
    font-size: 40px;
    padding: 20px
}
.servicios p:hover{
    cursor: pointer;
    background-color:#861a1a;
    border-radius: 5px;
}
.active{
    padding: 30px;
}
h1{
    text-align: center;
}
[data-content]{
    display: none;
}
.active[data-content]{
    display: block;
}